<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Username</title>
</head>
<body>
    <div>
        <form action="/createUsername" method="POST" name="username">
            <label for="name">Name</label>
            <input type="text" name="username" id="username">
        </form>
    </div>
    <button>
        <a href="/usernames">Username</a>
    </button>
    <button>
        <a href="/">Home</a>
    </button>
</body>
</html>