<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
</head>
<body>
    <div>
        <%usernames.forEach((user) => {%>
            <p><%=user.username%></p>
        <%})%>
    </div>
    <button>
        <a href="/createUsername">Create Username</a>
    </button>
</body>
</html>